.transparent {
  background-color: transparent !important;
  box-shadow: none;
}
.colored {
  background-color: #5c5c94 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  color: aliceblue;
}
