body {
  background-color: rgb(255, 255, 97);
  margin: 0;
  font-family: Montserrat, sans-serif, 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans'
    ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif
}
